.case{
    --case-color:grey;
    color: black;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 200%;
    font-weight: bold;
    text-transform: uppercase;

    border: 2px solid #d3d6da;
    border-bottom: 10px;
    background-color: var(--case-color);
}

.row {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin: 3%;
}

.board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    padding: 10px;
    max-width: 350px;
    margin: 0 auto;
}