.case{
    --case-color:black;
    color: black;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;

    border: 2px solid #d3d6da;
    background-color: var(--case-color);

    user-select: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    padding: 10px;
    max-width: 350px;
    margin: 0 auto;
}